{% extends "layout.html" %}
{% block content %}

<div class="about">
    <h1>About me</h1>
    <p>I am Nithyashree B. An enthusiastic novice programmer who loves learning new languages and honing my coding skills.
    </p>
    <p>I love expressing myself through poetry and art. And I'm also an avid reader who loves devoruing books.</p>
    <div style="text-align: center;">
        <img alt="hugs gif" src="https://media1.giphy.com/media/xkQ7Hn3BoLzpolUguF/giphy.gif?cid=790b7611d43eb866fe6f2f80fa44d6cd1cb239b3865344da&rid=giphy.gif&ct=g"
        width="300" height="300">
    
</div>
<style>
    button {
      display: inline-block;
      background-color: #e7ca7a;
      border-radius: 8px;
      border: 3px double #f5e8e8;
      color: #012908;
      text-align: center;
      font-size: 13px;
      padding: 20px;
      width: 200px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      cursor: pointer;
      margin: 6px;
    }
  </style>
</head>
<body>
  <div style="text-align: center;">
  <button onclick="document.location='https://www.instagram.com/artenitz/'"">Visit art and poetry page!</button>
  </div>

{% endblock %}
