{% extends "layout.html" %}
{% block content %}
    
<div class="home">
    <h1>My homepage</h1>
    <p>Hello everyone! Welcome to my web page. This is a simple webpage that I created using HTML, Python and CSS. 
    </p>
    <br>
    <p>
        Have a nice day! Thank you.
    </p>
    <div style="text-align: center;">
        <img alt="Qries" src="https://i.pinimg.com/originals/12/12/26/121226afe3d5b5cba6ec63b760dbb6e0.gif" 
        width="300" height="300">
    </div>
</div>
{% endblock %}
